.header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header nav .links {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.links span {
    display: inline-block;
    padding: 1.2rem 0.5rem;
    transition: all 400ms ease;
    color: #fff;
    cursor: pointer;
}

.links span:hover {
    background-color: rgb(223, 3, 3);
}

.links span.active {
    background-color: rgb(223, 3, 3);
}

/* end of header nav  */

.header .icons {
    display: flex;
    align-items: center;
}

.header .icons span a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    background-color: rgba(102, 102, 102, 0.7);
    border-radius: 50px;
    color: #fff;
}

.icons span a:hover {
    background-color: rgb(223, 3, 3);
    transform: scale(1.2);
}

.header .bar {
    display: none;
}

.header nav .close {
    display: none;
}

@media(max-width : 610px) {
    .header{
        position: relative;
    }
    
    .header nav {
        flex-direction: column-reverse;
        justify-content: center;
        gap: 2rem;
        position: fixed;
        inset: 0;
        background-color: rgba(26, 26, 37);
        z-index: 1000000;
        transform: translateX(50rem);
        transition: transform 400ms ease-in-out;
        z-index: 9999999;
    }
    
    .header nav.active {
        transform: translateX(0);
    }

    .header .links {
        flex-direction: column;
        gap: 3rem;
    }

    .links span {
        padding: 0;
    }

    .links span.active {
        background-color: transparent;
    }

    .links span:hover {
        background-color: transparent;
        opacity: 0.7;
    }

    /* end of nav  */

    .header .icons {
        gap: 0.5rem;
    }

    .header .bar {
        display: inline-block;
        width: 100%;
        margin-left: auto;
        color: #fff;
        padding: 1rem 0.5rem 0 0;
        text-align: right;
        font-size: 1.5rem;
    }

    .header .bar span:hover {
        opacity: 0.6;
        cursor: pointer;
    }

    .header nav .close {
        display: block;
        position: absolute;
        top: 2rem;
        right: 2rem;
        color: #fff;
        font-size: 1.6rem;
        cursor: pointer;
    }

    .header nav .close:hover {
        opacity: 0.6;
    }
}
