.loading{
    position: fixed;
    height: 100vh;
    inset: 0;
    background-color: rgba(0,0,0,0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100000;
}

.loading .loader {
    width: 6rem;
    height: 6rem;
    border: 7px solid;
    border-color: #fff transparent;
    border-radius: 50px;
    animation: 1s loader linear infinite;
}

@keyframes loader {
    0% {
        transform: rotate(0);
    }

    0% {
        transform: rotate(360deg);
    }
}